.section {
    font-weight: 700;
    margin: 16px 16px 72px 16px;
}
.headerView {
    text-align: center;
    padding: 72px 0px 36px 0px;
    font-size: 32px;
}
.paragraf {
    text-align: justify;
    padding-bottom: 72px;
    font-size: 20px;
}
.allProjects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    margin: 0 36px 0 36px;

    // @media screen and (max-width: 1000px) {
    //     grid-template-columns: 1fr;
    // }
}