.section {
    font-weight: 700;
    margin: 16px 16px 72px 16px;
}
.wrapper {
    display: flex;
    flex-flow: column nowrap;
}
.headerView {
    text-align: center;
    padding: 72px 0px 36px 0px;
    font-size: 32px;
}
.paragraf {
    padding: 12px 0;
    font-size: 20px;
    text-align: center;
    color: white;
    line-height: 40px;
    background-color: #1070CA;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.6);
}
.skillsImage {
    margin: 72px 0 0 31px;
    height: 250px;
    width: 317.11px;
    align-self: center;
}
.courseList {
    padding: 72px 20px 72px 20px;
    font-size: 20px;
    text-align: justify;
}
.courseItem {
    padding-bottom: 12px;
}
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    text-align: center;
    padding: 31px 128px 0 128px;
}
.article {

}
.image {

}
.header {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 24px;
}
.list {
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    padding: 0 36px 0 76px;
}
.listItem {

}
.secondUL {
    font-weight: 600;
    margin: 0 0 5px 16px;
}
.secondItem {
    list-style-type: none;
    position: relative;
    &::before {
        content: '-';
        position: absolute;
        display: block;
        left: -15px;
    }
}