.oneProject {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    color: #808082;
    background-color: #212528;
    border-radius: 16px;
}
.topBar {
    background-color: #041B15;
    border-radius: 16px 16px 0 0;
    display: flex;
    flex-flow: row;
}
.circlesTopImage {
    padding: 16px;
}
.githubIcon {
    margin: 8px;
    width: 24px;
    height: 24px;
}
.projTitleHead {
    max-width: 150px;
    font-weight: 400;
    font-size: 16px;
    margin: 9px 0 8px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.projInformation {
    display: grid;
    grid-template-columns: 120px 1fr;
    column-gap: 5px;
    margin: 58px 32px 58px 32px;
}
.leftInfo {
    text-align: right;
}
.projTitle {
    display: block;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.projTitle__bold {
    font-weight: 700;
    color: white;
}
.projDescription {
    display: block;
    margin-bottom: 24px;
    word-break: break-all;
}
.justify {
    text-align: justify;
}
.projDemo {
    display: block;
    margin-bottom: 8px;
}
.projGithub {
    display: block;
}
.blue {
    color: #14B5D0;
    text-decoration: none;

    &::before {
        content: '<';
        color: #808082;
    }
    &::after {
        content: '>';
        color: #808082;
    }
}