.mail {
    display: block;
    width: 250px;
    text-align: center;
    background-color: #1070CA;
    border: 2px solid #1070CA;
    border-radius: 5vh;
    padding: 10px 15px;
    text-decoration: none;
    color: white;

    &:hover {
        background-color: white;
        color: #1070CA;
        transition: all 0.4s ease-in-out;
    }
}