.Nav {
  display: block;
  padding: 0;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(7px);
  font-weight: 700;
  font-weight: bold;
  font-size: 20px;

  @media screen and (max-width: 700px) {
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    font-size: 36px;
    line-height: 48px;
    z-index: 90;
    left: 0px;
    top: 0px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
}

.logoWrapper {
  background-color: white;
  width: 100%;
  margin-top: 80px;
  padding: 0 0 20px 0;
}

.logoImage {
  display: none;

  @media screen and (max-width: 700px) {
    display: inline;
    position: absolute;
    top: 20px;
    left: 20px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
  }
}

.hamburgerMenu__Button {
  display: none;
  background-color: white;
  border-radius: 10px;
  border: inherit;

  @media screen and (max-width: 700px) {
    display: block;
    top: 25px;
    right: 25px;
    position: fixed;
    z-index: 150;
  }
}
.hamburgerMenu__BG {
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: relative;
}
@mixin hamburgerMenu__Line {
  display: inline-block;
  position: absolute;
  background-color: black;
  width: 80%;
  height: 3px;
  left: 4px;
}
.hamburgerMenu__Icon {
  @include hamburgerMenu__Line();

  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;

  &::before,
  &::after {
    @include hamburgerMenu__Line();

    content: "";
    transition: transform 0.2s 0.2s ease-in-out;
  }
  &::before {
    top: -14px;
  }
  &::after {
    bottom: -14px;
  }
}

.classShowMobileMenu {
  background-color: inherit;
  z-index: 100;
  transform: translateX(0px);
  transition: all 0.5s ease-in-out;

  &::before {
    transform: translateY(14px) rotate(45deg);
  }
  &::after {
    transform: translateY(-14px) rotate(-45deg);
  }
}

.Nav_List {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: 700px) {
    flex-flow: column nowrap;
    background-color: white;
  }
}
.Nav__Item {
  list-style: none;
}
.Nav__Item__NavLink {
  text-decoration: none;
  padding: 7px 0 7px 0;
  display: inline-block;
  text-align: center;
  color: black;
  padding: 25px 15px 0 15px;

  &:hover {
    background-color: #1070ca;
    transition: background-color 0.3s ease-in-out;
  }
}

.active {
  border-bottom: 3px solid #1070ca;
}
