.section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: 700;
    margin: 16px 16px 72px 16px;
}
.header {
    padding: 72px 48px 72px 48px;
    font-size: 32px;
    position: relative;
    box-sizing: content-box;

    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 48px;
        height: 150px;
        display: block;
        top: 65px;
    }

    &::before {
        left: 0px;
        background: url('../../assets/img/bracket_left.svg') no-repeat;
    }
    &::after {
        right: 0px;
        background: url('../../assets/img/bracket_right.svg') no-repeat;
    }
}
.article {
    padding: 72px 0 72px 0;
    font-size: 20px;
}
.description {
    display: flex;
    flex-flow: row nowrap;

}
.aboutMe {
    font-size: 20px;
    text-align: justify;
}
.lookImage {
    margin: 10px;
    float: right;
    display: block;
    width: 249.08px;
    height: 200px;
}
.special {
    color: #1070CA;
}
.contactMail {
    align-self: center;
}